@charset "utf-8";
/* CSS Document */
#menulist{
	
	max-width: 400px;
	min-width: 350px;
	text-align: left;
	border-right: 1px solid #D4E170;
	display:inline-block;
}
#page{
	
	max-width: 900px;
	min-width:480px;
	display: inline-block;
	padding-left: 35px;
	box-sizing: border-box;
	
}