@charset "utf-8";
body{	
background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(255,255,255,0) 97%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(255,255,255,0) 97%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(255,255,255,0) 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
.cursive, h1, h2, h3, h4, .calCol{
	font-family: 'Kaushan Script', cursive;
}
/*
.note{background: #FFF; font-color: #6B6B6B; }
.note:before{content: 'Note: '}
*/
.btn {
  background: #f5fce8;
  background-image: -webkit-linear-gradient(top, #f5fce8, #edfcbb);
  background-image: -moz-linear-gradient(top, #f5fce8, #edfcbb);
  background-image: -ms-linear-gradient(top, #f5fce8, #edfcbb);
  background-image: -o-linear-gradient(top, #f5fce8, #edfcbb);
  background-image: linear-gradient(to bottom, #f5fce8, #edfcbb);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  -webkit-box-shadow: 0px 1px 3px #ccbecc;
  -moz-box-shadow: 0px 1px 3px #ccbecc;
  box-shadow: 0px 1px 3px #ccbecc;
  font-family: Arial;
  color: #7892fa;
  font-size: 16px;
  font-weight:bold;
  padding: 7px 12px 7px 12px;
  border: solid #a5e5fa 2px;
  text-decoration: none;
  float:left;
}

.btn:hover {
  background: #FFFFFF;
  text-decoration: none;
  cursor:pointer;
}
.btn{margin-left: 12px;}
.btn:first-child{margin-left: 5px;}
.smBtn {
   background: #f5fce8;
  background-image: -webkit-linear-gradient(top, #f5fce8, #edfcbb);
  background-image: -moz-linear-gradient(top, #f5fce8, #edfcbb);
  background-image: -ms-linear-gradient(top, #f5fce8, #edfcbb);
  background-image: -o-linear-gradient(top, #f5fce8, #edfcbb);
  background-image: linear-gradient(to bottom, #f5fce8, #edfcbb);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  -webkit-box-shadow: 0px 1px 3px #ccbecc;
  -moz-box-shadow: 0px 1px 3px #ccbecc;
  box-shadow: 0px 1px 3px #ccbecc;
  font-family: Arial;
  color: #7892fa;
  font-size: 14px;  
  padding: 3px 7px 3px 7px;
   border: solid #a5e5fa 2px;
  text-decoration: none;
  font-weight:bold;
  float:none;
}

.smBtn:hover {
  background: #FFFFFF;
  text-decoration: none;
  cursor:pointer;
}
.btn:focus,.smBtn:focus{
  	outline: none !important;
}
select, option, .formLabel{
	color: #8ac72d;
	font-size: 16px;	
}
.formLabel{
	color: #7EAB26;
	font-size: 17px;
}
h1{
	font-size: 39px;
	line-height: 47px;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
.title{
	text-align:center;
	color: #989898;
	text-shadow:#414141;
}
#headerDays{
	border-collapse:collapse;
	color: #7EAB26;
	float:left;
	border-bottom: #C0D1A9 1px solid;
}
#weeks{
	margin-top: 5px;
	float:left;
}
.calCol{
	text-align:center;
	/*background: #E0E7AF;*/
	background: #FFF;
	height: 30px;
	vertical-align:middle;
	border: #C0D1A9 1px solid;	
}
.bold{
	font-weight:bolder;
}
.morPad{
	padding: 15px 10px;
}
#calWrap, .content-row{
	width: 78%;
	margin-top: 0px;
	margin-left: auto; margin-right:auto;
}
#calWrap{
	margin-bottom: 30px;
}
.content-row{
	padding: 10px;	
}
#headerDays, .row, #weeks, #calFooter{
	float:left;
	width:100%;
}
.row {
	height: auto;
	font-size: 16px;
	color: #236FBF;
	border-collapse:collapse;
}
.yellow-bg{
	background: #EFFC93;
}
.white-bg{
	background: #FFF;
}
.headerDays, .calCol, .row, .empty, .today, .day, .date{
	box-sizing:border-box;	
}
.empty, .date, .calCol{
	width: 14.2%;
	float:left;	
	padding: 3px;	
}
.date{
	min-height:70%;
	position: relative;
}
.day{
	/*color: #8ac72d;	*/
	color: #7e8e26;
	border-bottom: #BAEB7A 1px solid;
	background: #FFF;
}
.today .day{
	color: #FFFFFF;
	background: #8ac72d;
	border-bottom: #000 1px solid;
	font-size: bold;
}
.date{
	background: #FDFFF7;
	border: #E0EDAE 1px solid;
}
.today{
	
	border: #8ac72d 2px solid;
}
.day{
	text-align: right;
	padding: 4px 12px 4px 4px;
}
.empty{
	height:140px;	
	background:#F7F7F7;
	border: #B8B8B8 dashed 1px;
}
.edit{
	height:100px;	
	overflow-x: hidden;
	overflow-y: scroll;	
	padding-top: 3px;
	font-size: 13px;
	font-weight: 300 !important;
}
ul.edit{
	list-style:none;
	padding-left: 2px;
	margin:0 !important;
}
#topHeaders{	
	border-top: #C0D1A9 solid 3px;
	padding-top: 12px;
	margin-top: 10px;	
}
#topHeaders, #topHeaders .row{
	background: #FFF !important;	
}
#topHeaders .row{
	height: 40px;
	font-size: 22px;
	font-weight:bold;
	vertical-align: middle;
}
#topHeaders:first-child{
	border-bottom: #BFCBAD 1px dotted;
}
#calFooter{
	font-size: 13px;
	text-align:right;
	color: #FFF;
	background: #8ac72d;
	font-style:italic;
	box-sizing:border-box;
	padding: 6px 12px;
	border-radius: 0px 0px 5px 5px; /* top left, top right, bottom right, bottom left */
	border: #8ac72d 1px solid;
}


#mo,#yr{	
	text-align:center;
}
#btnPrev,
#btnNext{	
	box-sizing:border-box;
	display:inline-block;
}
#btnPrev:hover, #btnNext:hover{
	cursor:pointer;
}

#mo,#yr{
	color:#1b3089;
}
#btnPrev{
    text-align:left;
    margin: 0 2.5% 0 2.5%;
    	width: 20%;
}
#btnNext{
    text-align: right;
    	width: 20%;
	margin-left:0 2.5% 0 2.5%;
}

#message{
	border-radius: 5px;
	border: 3px #BADB3F solid;
	background:#E0EFB4;
	color: #82282A;
	font-size: 17px;
	text-align:center;
	display:none;
	height:0px;
	position:absolute;
	top: 120px;
	width:31% !important;
	left: 33%;
	padding:0px;
}
#message p{
	line-height: 23px;
}
.fifty-pct{	
	display: inline;
	max-width: 48%;
	width: auto !important;
	margin-right: 2%;
	box-sizing:border-box;
	float:left;
}
/* ICONS */
#icons{background-color: #FFF; border: #E2E9D7 1px solid; margin-top: 10px; padding: 3px 7px;}
.save,.undo,.redo,.undoall,.import,
.save:hover,.undo:hover,.redo:hover,.undoall:hover,.import:hover{
	padding-left: 32px !important;
	webkit-background-position: 9px 16px !important; /* vertical horiz */
	moz-background-position: 9px 17px !important; /* vertical horiz */
	background-position: 9px 17px !important; /* vertical horiz */
	background-repeat: no-repeat !important;
	background-size: 16px 16px !important;
}
.save, .save:hover{
	background-image: url(../assets/ico-save.png) !important;
}
.undo,.undo:hover{
	background-image: url(../assets/ico-undo.png) !important;
}
.redo,.redo:hover{
	background-image: url(../assets/ico-redo.png) !important;
}
.undoall,.undoall:hover{
	background-image: url(../assets/ico-undoall.png) !important;
}
.import,.import:hover{
	background-image: url(../assets/ico-import.png) !important;
}
.addNewLine{padding: 12px;margin-left: 10px;}
.addNewLine:hover{cursor:pointer;}
/*team assignments menu*/
#divContextMenu{
	width:150px; height:300px; padding: 1px; position:absolute !important;border:1px solid #777;background:#FFF;
	margin:0px; list-style:none;float:left;z-index:9950; box-sizing: border-box;
}
#ulContextMenu{
	width:140px; height:288px; padding: 4px; position:absolute !important;border:1px solid #777;background:#FFF;
	margin:0px; list-style:none;float:left;z-index:9950;box-sizing: border-box;
}
#ulContextMenu > *{cursor:pointer}
.modal #ulContextMenu{
	height: 240px; width: 146px; box-sizing: border-box;
}
.lineEntry{
	padding: 6px 0px;
	border-bottom: #FDE3C6 dotted 1px;	
	cursor:pointer;
	color:#554B44;
}
.yellow-bg li.lineEntry:hover{
	background:#DBFF95
}
ul.edit li{text-align:left}
#t1,#t2,#t3,#t4,#t6,#t7,#t8,#t9,#t10,
.t1,.t2,.t3,.t4,.t6,.t7,.t8,t9,t10{
	 font-weight:bold;
}

#t1,.t1{color:#B92426;}
#t2,.t2{color:#510FBC;}
#t3,.t3{color:#000000}
#t4,.t4{color:#E3A201}
#t5,.t5{color:#52a815}
#t6,.t6{color:#0064FF}
/* crimson #t7,.t7{color:#801214} */
/* dark blue */
#t7,.t7{color:#000EAE}
#t8,.t8{color:#F218F8}
#t9,.t9{color:#000000}
#delete{color:#C90D10; background-color:#FFFFFF}
/*#t10,.t10{color:}*/
/*#t3,.unassigned{color:#000}*/
.unassigned{background:#FCFFA1;}
.unassigned:before{
	content: '! ';
	font-weight: bold;	
	color: #CC0A0D;
	padding-left: 3px;
}
.hold:before{ /* if there is any ! or other content before the list tag contents, remove it. */
	content: '';		
}
.hold_small, .hold {
	padding-left: 20px;
	background-image:url(../assets/stop_sign.png);	
	background-repeat:no-repeat;
	background-position: 2px 2px;
	border: #E00E12 solid 1px;
}
.hold_small{
	padding-left: 18px;
	background-image:url(../assets/small_stop_sign.png);
	background-position: 1px 0px;	
	color: #67593C !important;
}

#t5{
	color: #52A815;
	background: #FFF;
}

.completed{
	background:#A1E35D;
	/*color: #FFF; remain the team color */
	font-weight: bold;
	padding-left: 3px;
	border:none;
}
.completed:before{ /* leading checkmark */
	content: "\2713  ";
	color: #FFF;
	font-size: 17px;
}
.iconrow{
	margin-left: 16px; float:left; margin-top: 12px;
}
.iconrow:first-child{margin-left:0px;}
.icon-box{
	display:inline; float:left; border: 2px #eee solid; width: 11px; height: 11px; margin-top: 2px; margin-left: 20px;
}
.b1{margin-left:0px}
.box-label{
	margin-left: 8px; display:inline; float:left; font-size: 15px; font-weight: bold; line-height: 20px;
}
.unassigned{font-weight:normal !important; color:#554B44 !important; }
.b1{background-color:#B92426}.b2{background-color:#510FBC}.b3{background-color:#000000}.b4{background-color:#E3A201}.b5{background-color:#52a815}.b6{background-color:#0064FF}.b7{background-color:#000EAE}.b8{background-color:#F218F8}.b9{background-color:#000000}.b10{background-color:#525252}
#t1:hover,#t2:hover,#t3:hover,#t4:hover,#t5:hover,#t6:hover,#t7:hover,#t8:hover,#t9:hover,#t10:hover{background:#DBFF95}
#delete:hover{background:#C90D10; color:#FFFFFF}
.hide{
	display:none !important;
}
.modalImg {
	height: 18px; width: 18px;
	padding: 3px;
	cursor:pointer;

}
#modal{
	height: 500px;	
}
#modal li{
	font-size: 16px !important;
	width: 100% !important;
}
#modal ul.edit{
	height: 97%;
}
#modal {
    background: #fff none repeat scroll 0 0;
    border-radius: 8px;
    box-shadow: 0 0 10px #000;
    display: inline-block;
    padding: 15px 30px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 580px;
    z-index: 2;
}	
.blocker::before {
    content: "";
    display: inline-block;
    height: 100%;
    margin-right: -0.05em;
    vertical-align: middle;
}
.blocker {
    background-color: rgba(0, 0, 0, 0.75);
    bottom: 0;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    overflow: auto;
    padding: 20px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1;
}
@page {
  size: A4, landscape;
  font-size:  0.75pt;
}
@page :left {
  margin-left: 3cm;
}
@page :right {
  margin-left: 4cm;
}
@page :top-right {
    content: "Page " counter(page);
 }
h1 { 
  string-set: pageTitle content(); 
}
@page :right {
  @top-right {
    content: string(pageTitle);
    margin: 30pt 0 10pt 0;
    font-size: 8pt;
  }
}
@page :img{
	display:none;	
}
/*EFFECTIVELY HIDES WEEKENDS IN THE CALENDAR 
/* if you hide weekends again, remember to set width from 14.2% to 19.88% on .empty, .date, .calCol in this file.
#headerDays > div:first-child, #headerDays > div:last-child, .month > .row > div:first-child, .month > .row > div:last-child{
	visibility:hidden;
	width:0%;
	display:none;
}
*/
#wait{
	top: 33%;
	left: 52%;
	position:absolute;
	z-index: 999999;
}
#reschedule{
	width: 110px;
	color: #0E43AF;
	background-color:#EBFF5D;
}
/* hover shows js trigger edit button on each job entry -- allow a single left click to show context menu. */
/*li.lineEntry:hover:after {
	
	content: '<img id="OpenMenu" style="padding-left: 8px" src="../assets/pencil.png" />';
	
	}*/


